{% extends "@NetzmachtContaoWorkflow/backend/backend.html.twig" %}

{% block headline %}
{% include sections.template('headline') with sections.get('headline') only %}
{% endblock %}

{%- block error -%}

{%- endblock -%}

{% block main %}
    <div id="tl_buttons">
        <a href="javascript:history.back();" class="header_back" title="">{{ 'MSC.backBT'|trans({}, 'contao_default') }}</a>
    </div>

{% for name, section in sections %}
    {% set content = include(sections.template(name), section)|trim %}
    {% if content|length %}
        <div class="workflow-section">
            {{ content|raw }}
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
