
.icon_selector .selector_container img {
    max-width: 20px;
    height: auto;
    padding: 5px;
}

.icon_selector .selector_container ul {
    float: left;
}

.icon_selector .selector_container p {
    float: left;
    margin-top: 4px;
}

.icon_selector .tl_help {
    clear: both;
}

.workflow_state.row {
    clear: both;
    max-width: 600px;
}

.workflow_state.row div {
    float: left;
    padding: 4px;
    width: 16.5%;
    box-sizing: border-box;
}

.workflow-section + .workflow-section {
    margin-top: 2em;
    border-top: 1px solid #e6e6e8;
}

.workflow-content-box {
    margin: 20px 15px 16px;
}

.workflow-history {
    width: 100%;
    box-sizing: border-box;
}

.workflow-history th {
    padding: 6px;
    background: #f9f9fb;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.workflow-history-state td {
    padding: 6px;
    border-bottom: 1px solid #e9e9e9;
}

.workflow-history-state.transition-failed td {
    color: #bbb;
}

.workflow-submit-container {
    padding: 8px 15px;
}

.workflow-error-list {
    margin: 0 0 1px;
    padding: 12px 18px 6px 24px;
    line-height: 1.2;
    color: #c33;
    background: #faebeb;
}

.workflow-error-list .workflow-error-list {
    padding-top: 0px;
}

.workflow-error-list li {
    list-style-type: square;
}

.workflow-definition-error {
    color: #c33;
    background: url(../../../system/themes/flexible/icons/error.svg) no-repeat 5px 4px #faebeb;
    padding: 5px 5px 5px 25px;
    margin: 0;
}
