services:
  _defaults:
    public: false
    autowire: false
    autoconfigure: false

  netzmacht.contao_workflow.listeners.dca.save_permission_callback:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Dca\SavePermissionsCallbackListener
    public: true
    arguments:
      - '@netzmacht.contao_toolkit.repository_manager'

  netzmacht.contao_workflow.listeners.dca.common:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Dca\CommonListener
    public: true

  netzmacht.contao_workflow.listeners.dca.workflow:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Dca\WorkflowCallbackListener
    public: true
    arguments:
      - '@netzmacht.contao_workflow.type_registry'
      - '@netzmacht.contao_toolkit.repository_manager'
      - '@netzmacht.contao_workflow.definition.workflow_loader'
      - '@netzmacht.contao_workflow.manager'
      - '@translator'

  netzmacht.contao_workflow.listeners.dca.transition:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Dca\TransitionCallbackListener
    public: true
    arguments:
      - '@netzmacht.contao_toolkit.dca.manager'
      - '@netzmacht.contao_toolkit.repository_manager'
      - '@netzmacht.contao_workflow.manager'
      - '%netzmacht.contao_workflow.transition_types%'

  netzmacht.contao_workflow.listeners.dca.action:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Dca\ActionCallbackListener
    public: true
    arguments:
      - '@netzmacht.contao_toolkit.repository_manager'
      - '@netzmacht.contao_workflow.definition.workflow_loader'
      - '@netzmacht.contao_workflow.action_factory'

  netzmacht.contao_workflow.listeners.dca.permissions:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Dca\PermissionCallbackListener
    public: true
    arguments:
      - '@netzmacht.contao_toolkit.repository_manager'

  netzmacht.cotnao_workflow.listeners.hook.backend_user_navigation:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Backend\UserNavigationListener
    public: true
    arguments:
      - '@request_stack'
      - '@netzmacht.contao_toolkit.assets_manager'
    tags:
      - { name: 'contao.hook', hook: 'getUserNavigation' }

  netzmacht.contao_workflow.listeners.builder.workflow_builder:
    class: Netzmacht\ContaoWorkflowBundle\Workflow\Definition\Database\WorkflowBuilder
    arguments:
      - '@netzmacht.contao_toolkit.repository_manager'
      - '@netzmacht.contao_workflow.action_factory'
      - '%netzmacht.contao_workflow.transition_types%'
    tags:
      - { name: 'kernel.event_listener', event: 'netzmacht.contao_workflow.create_workflow', method: 'createWorkflow' }

  netzmacht.contao_workflow.listeners.builder.meta_data_action:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Workflow\CreateMetaDataActionListener
    arguments:
      - '@netzmacht.contao_workflow.action.metadata_action'
    tags:
      - { name: 'kernel.event_listener', event: 'netzmacht.contao_workflow.create_transition', method: 'onCreateTransition' }

  netzmacht.contao_workflow.listeners.builder.conditional_transition_action:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Workflow\CreateConditionalTransitionsListener
    arguments:
      - '@database_connection'
    tags:
      - { name: 'kernel.event_listener', event: 'netzmacht.contao_workflow.create_transition', method: 'onCreateTransition' }

  netzmacht.contao_workflow.listeners.builder.workflow_change_action:
    class: Netzmacht\ContaoWorkflowBundle\EventListener\Workflow\CreateWorkflowChangeTransitionListener
    arguments:
      - '@netzmacht.contao_workflow.manager'
    tags:
      - { name: 'kernel.event_listener', event: 'netzmacht.contao_workflow.create_transition', method: 'onCreateTransition' }

  netzmacht.contao_workflow.listeners.builder.transition_builder:
    class: Netzmacht\ContaoWorkflowBundle\Workflow\Definition\Database\ConditionBuilder
    arguments:
      - '@netzmacht.contao_workflow.expression_language'
      - '@security.authorization_checker'
      - '@netzmacht.contao_workflow.property_access_manager'
    tags:
      - {
          name: 'kernel.event_listener',
          event: 'netzmacht.contao_workflow.create_transition',
          method: 'createTransitionPermissionCondition',
          priority: 255
        }
      - {
          name: 'kernel.event_listener',
          event: 'netzmacht.contao_workflow.create_transition',
          method: 'createExpressionConditions'
        }
      - {
          name: 'kernel.event_listener',
          event: 'netzmacht.contao_workflow.create_transition',
          method: 'createPropertyConditions'
        }
