
.icon_selector .selector_container img {
    max-width: 20px;
    height: auto;
    padding: 5px;
}


.workflow_state.row {
    clear: both;
}

.workflow_state.row div {
    float: left;
    padding: 4px;
    width: 20%;
    box-sizing: border-box;
}
