
.icon_selector .selector_container img {
    max-width: 20px;
    height: auto;
    padding: 5px;
}

.icon_selector .selector_container ul {
    float: left;
}

.icon_selector .selector_container p {
    float: left;
    margin-top: 4px;
}

.workflow_state.row {
    clear: both;
    max-width: 600px;
}

.workflow_state.row div {
    float: left;
    padding: 4px;
    width: 16.5%;
    box-sizing: border-box;
}
