{% trans_default_domain 'netzmacht_workflow' %}

{% macro errorList(errors) %}
{% if errors is not null %}
<ul class="workflow-error-list">
    {% for error in errors %}
        <li>{{ error.0|trans(error.1) }}
            {{ _self.errorList(error.2) }}
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

<div class="workflow-content-box">
    {{ _self.errorList(errors) }}
</div>
